<!DOCTYPE html>
<html>
<head>
    <title>Smart Job Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>💼 Smart Job Platform</h1>
</header>

<div class="container">

    <p>This is your first job platform 🚀</p>

    <!-- Search + Filter -->
   <form action="/" method="GET">

    <input type="text"
           name="search"
           placeholder="Search by title or company"
           value="{{ search }}">

    <select name="experience">
        <option value="">All Levels</option>

        <option value="Junior"
        {% if experience_filter == 'Junior' %}selected{% endif %}>
        Junior
        </option>

        <option value="Mid"
        {% if experience_filter == 'Mid' %}selected{% endif %}>
        Mid
        </option>

        <option value="Senior"
        {% if experience_filter == 'Senior' %}selected{% endif %}>
        Senior
        </option>
    </select>

    <select name="sort">

        <option value="">Sort Salary</option>

        <option value="high"
        {% if sort == 'high' %}selected{% endif %}>
        Highest Salary
        </option>

        <option value="low"
        {% if sort == 'low' %}selected{% endif %}>
        Lowest Salary
        </option>

    </select>

    <button type="submit" class="add-btn">
        🔍 Search
    </button>

</form>


    <!-- Statistics -->
    <h2>📊 Statistics</h2>

    <div class="stats-container">

        <div class="stat-card">
            <h3>Total Jobs</h3>
            <p>{{ total_jobs }}</p>
        </div>

        <div class="stat-card">
            <h3>Average Salary</h3>
            <p>{{ average_salary }}</p>
        </div>

        <div class="stat-card">
            <h3>Highest Salary</h3>
            <p>{{ highest_salary }}</p>
        </div>
     <div class="stats-container">

    <div class="stat-card">
        <h3>Junior Jobs</h3>
        <p>{{ junior_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Mid Jobs</h3>
        <p>{{ mid_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Senior Jobs</h3>
        <p>{{ senior_count }}</p>
    </div>

</div>
    </div>
     <a href="/download">
    <button class="add-btn">
        📥 Download CSV
    </button>
</a>

<br><br>
    <!-- Chart -->
    <h2>📈 Salary Chart</h2>

    <img src="/static/chart.png" width="600">

    <!-- Job Listings -->
    <h2>💼 Job Listings</h2>

    <ul>
        {% for job in jobs %}
        <li>

            <div class="job-info">
                {{ job[1] }} - {{ job[2] }} - 💰 {{ job[3] }} - {{ job[4] }}
            </div>

            <div class="actions">

                <form action="/edit/{{ job[0] }}" method="GET">
                    <button type="submit" class="edit-btn">
                        ✏️ Edit
                    </button>
                </form>

                <form action="/delete/{{ job[0] }}" method="POST">
                    <button type="submit" class="delete-btn">
                        ❌ Delete
                    </button>
                </form>

            </div>

        </li>
        {% endfor %}
    </ul>

    <!-- Add Job -->
    <h2>➕ Add Job</h2>

    <form action="/add" method="POST" class="add-form">

        <input type="text" name="title" placeholder="Job Title" required>

        <input type="text" name="company" placeholder="Company Name" required>

        <input type="number" name="salary" placeholder="Salary" required>

        <select name="experience" required>
            <option value="">Select Experience</option>
            <option value="Junior">Junior</option>
            <option value="Mid">Mid</option>
            <option value="Senior">Senior</option>
        </select>

        <br><br>

        <button type="submit" class="add-btn">
            ➕ Add Job
        </button>

    </form>

</div>

</body>
</html>